.App {
  display: flex;
}

.App.touched {
  background-color: red;
}

.video {
  border: 4px solid rgb(22, 216, 109);
  padding: 5px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
}


.buttons {
  margin: 3px;
  border: 2px solid black;
  padding: 4px;
}

.btn-1 {
  margin: 3px;
  border: 2px solid black;
  padding: 4px;
}

.btn-2 {
  margin: 3px;
  border: 2px solid black;
  padding: 4px;
}

.btn-3 {
  margin: 3px;
  border: 2px solid black;
  padding: 4px;
}